body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50 px;
}
h2{
  font-size: 40px;  
}
p{
    color: dimgray;
}
.orange-highlight{
    color:orange;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: ;
    background-repeat: no-repeat;
}
section{
    height: 700px;
    padding-bottom: 150 px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgba(255, 160, 122, 0.747), tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url("image/background2.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
}
.single-experiences{
    box-shadow: 10 px 10 px 40 px gray;
    border-radius: 5px;
    height: 80%;
}
.creative-area{ 
box shadow: 10px 10px 40 px grey;
}
.creative-agency{ 
    box shadow: 10px 10px 40 px grey;
}
 .rock-music{ 
        box shadow: 10px 10px 40 px grey;
 }

footer p{
    text-align: center;
    image: center;
    

}